h1 {
    color: black;
}

h2 {
    color: black;
}

#Map, #Globe {
    width: 50%;
    height: 500px;
    float: left;
}

#Distance_Map, #AlbersEA_Distance, #Stereographic_Distance, #Azimuthal_Distance, #Transverse_Distance {
    width: 100%;
    height: 500px
}
